*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-color:rgb(221, 247, 252)
    
}
.card{
    width: 300px;
    height: 446px;
    background-color:white;
    border-radius: 10px;
    font-family: 'Red Hat Display', sans-serif;
    overflow: hidden;
}
.card-image{
    width: 100%;
    
    
}
.card-content{
    margin: 20px;
}
.card-tittle{

font-size: 16px;
 
color:hsl(223, 47%, 23%) ;
text-align: center;

}
.card-descrptn{
text-align: center;
font-size: 12px;
margin-top: 15px;
color:  hsl(224, 27%, 64%)
}
.card-plan{
    display: flex;
    column-gap: 15px;
    align-items: center;
    background-color: aliceblue;
    margin: 20px;
    border-radius: 5px;
}
.music-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.card-plan-title{
    font-size: 16px;
    color:hsl(223, 47%, 23%) ;
}
.card-plan-price{
    font-size: 10px;
    color:  hsl(224, 27%, 64%)
}
.card-plan-change{
    margin-left: auto;
    font-size: 12px;
    padding: 15px;
  

}
.card-plan-change:hover{
    text-decoration-line: underline;
}
.card-button{
    text-align: center;
    display: flex;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
    margin: 27px;

}
.card-payment-button{
    background-color: rgb(7, 7, 248);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    border: 0ch;
    width: 243px;
    height: 39px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px  rgb(160 164 183);

}


.card-cancel-button{
    color:  hsl(224, 27%, 64%) ;
    border: 0ch;
    font-family: 'Red Hat Display', sans-serif;
    background-color: white;
}
.card-button :hover{
    
    background-color: rgb(156, 154, 151) ;
}
@media screen and (max-width: 600px) {
    
      .card{
          width:100%;
      }
}